.footer {
    margin-top: 15vh;
    height: 90px;
}

.sitelink {
    float: right;
    margin-right: 20px;
}

#qr {
    display: none;
}

.sitelink p {
    margin-right: 20px;
}

.footer p {
    float: left;
    padding: 20px 40px;
}

.footer-index {
    height: 80px;
}

.footer-index p {
    float: left;
    padding: 20px 40px;
}

@media screen and (max-width: 520px) {
    .footer-index p{
        padding: 0 40px;
    }
    .footer p {
        padding: 0 40px;
    }
}